@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

/* Thanks for the scrolling code: https: //www.youtube.com/watch?v=T33NN_pPeNI */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 4s; 
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.image {
    width: 500px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 3s;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-line: ;
    text-decoration-thickness: ;
    color: white;
    text-decoration-style: ;
    text-decoration-color: white;
}

.spacer {
    height: 100%;
    visibility: hidden;
}

#image1 {
    background-image: url('img/Artboard-1.png');
}

#image1:hover {
    background-image: url('img/Artboard-1-1.png');
}

#image2 {
    background-image: url('img/Artboard-2.png');
}

#image2:hover {
    background-image: url('img/Artboard-2-1.png');
}

#image3 {
    background-image: url('img/Artboard-3.png');
}

#image3:hover {
    background-image: url('img/Artboard-3-1.png');
}

#image4 {
    background-image: url('img/Artboard-4.png');
}

#image4:hover {
    background-image: url('img/Artboard-4-1.png');
}

#image5 {
    background-image: url('img/Artboard-5.png');
}

#image5:hover {
    background-image: url('img/Artboard-5-1.png');
}

#image6 {
    background-image: url('img/Artboard-6.png');
}

#image6:hover {
    background-image: url('img/Artboard-6-1.png');
}

#image7 {
    background-image: url('img/Artboard-7.png');
}

#image7:hover {
    background-image: url('img/Artboard-7-1.png');
}

#image8 {
    background-image: url('img/Artboard-8.png');
}

#image8:hover {
    background-image: url('img/Artboard-8-1.png');
}